@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");

/* * {
  font-family: "Luckiest Guy", cursive;
  font-family: 'Aleo', serif;
} */

.mainNav {
  background-color: white;
  border-bottom: 1px solid #db3c34;
}

.navigationLogo {
  padding: 0 0 0 10px;
}

/* .navigationLinks {
  padding: 0 10px 0 0;
} */

.navContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

.navigationLogo {
  width: 100px;
}

.navigationLogo img {
  width: 100px;
}
.navigationLinks {
  display: flex;
}

.navigationLinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
}

.navigationLinks ul li {
  color: black;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3em;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.navigationLinks ul li a {
  text-decoration: none;
  color: black;
}

.navigationLinks ul li:hover {
  transform: scale(1.2);
}
.navigationLinks ul li a:hover {
  color: #db3c34;
}

.ctaRegister {
  padding: 14px 30px;
  background-color: #db3c34;
  border-radius: 20px;
}
.ctaRegister p {
  color: white;
  margin: 0;
}

.ctaRegister:hover {
  background-color: #db3c34;
  color: #db3c34;
}

/* .ctaRegister p:hover {
  color: #db3c34;
} */

.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 50px;
  padding-top: 30px;
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 880px) {
  .hamburger {
    display: block;
    z-index: 20;
  }

  .hamburger.navactive .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.navactive .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.navactive .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .navigationLinks .nav-menu {
    position: fixed;
    left: 100%;
    top: 97px;
    gap: 0;
    flex-direction: column;
    background-color: #db3c34;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .navigationLinks .nav-menu.navactive {
    left: 0;
    position: absolute;
    z-index: 20;
  }

  .ctaRegister:hover {
    background-color: white;
    color: white;
  }

  .navigationLinks ul li a:hover {
    color: white;
  }
}
