@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");

/* * {
  font-family: "Luckiest Guy", cursive;
  font-family: 'Aleo', serif;
} */

.mainNav {
  background-color: white;
  border-bottom: 1px solid #da5151;
}

.navContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

.navigationLogo {
  width: 100px;
}

.navigationLogo img {
  width: 100px;
}
.navigationLinks {
  display: flex;
}

.navigationLinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  list-style: none;
  padding: 0;
}

.navigationLinks ul li {
  color: black;
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3em;
}

.navigationLinks ul li a {
  text-decoration: none;
  color: black;
}
.ctaRegister {
  padding: 14px 30px;
  background-color: #ffbe58;
  border-radius: 20px;
}
.ctaRegister p {
  color: black;
  margin: 0;
}
