.hockeyHeroSection {
  position: relative;
  height: 73vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hockeyHeroSection::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Assets/HockeyHeroPage.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hockeyHeroSection h1 {
  position: relative;
  margin: 0;
  color: white;
  font-family: "Luckiest Guy", cursive;
  font-size: 4rem;
  padding: 50px;
  margin-bottom: 20px;
}

/* .hockeyHeroSection p {
  position: relative;
  color: white;
  font-family: "Aleo", serif;
} */

.hockeyHeroSection p {
  position: relative;
  margin: 0 auto;
  font-family: "Aleo", serif;
  color: white;
  /* padding-bottom: 50px; */
  width: 600px;
  font-weight: bold;
  font-size: 18px;
}

.hockeyHeroSection ul {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  color: white;
  font-family: "Aleo", serif;
  font-weight: bold;
}

.hockeyHeroSection li {
  position: relative;
  margin-bottom: 10px;
}

.hockeyHeroText {
  max-width: 1000px;
  margin: 0 auto;
}

.hockeyHeroSection button {
  position: relative;
  font-family: "Luckiest Guy", cursive;
  /* background-color: #559d9d; */
  background-color: #db3c34;
  border: none;
  padding: 14px 30px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hockeyHeroSection button:hover {
  transform: scale(1.2);
}

.hockeyMainSection {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.hockyInformation {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #db3c34;
  padding: 20px 0;
}
/* .hockyInformation ul {
  padding: 0;
} */

.hockyInformation ul li {
  list-style: none;
  vertical-align: top;

  text-align: left;
}

@media (max-width: 1220px) {
  .hockyInformation {
    margin: 0 10px;
  }

  .hockeyTitle h2,
  .hockeyTitle h3 {
    margin: 10px 10px;
  }
}

/* @media (max-width: 1000px) {
  .hockeyHeroText {
    text-align: center;
    margin: 0 80vw;
  }

  .hockeyHeroText p {
    width: 80vw;
    text-align: center;
    align-items: center;
  }
} */
