.heroTitle {
  background-color: white;
  height: 60vh;
  display: flex;
  /* flex-direction: column; */
  margin: 0 auto;
  /* max-width: 1200px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.heroContent h2 {
  /* display: flex; */
  margin: 0;
  padding: 50px;
  color: black;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
}

.heroContent p {
  font-family: "Aleo", serif;
}

.heroContent h2 span {
  color: #ee4e34;
}
/* #FCEDDA #EE4E34  */
.heroContent button {
  font-family: "Luckiest Guy", cursive;
  /* background-color: #559d9d; */
  background-color: #ee4e34;
  border: none;
  padding: 14px 30px;
  border-radius: 10px;
  color: #fcedda;
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.heroContent button:hover {
  transform: scale(1.2);
}

/* ///////////PROGRAMS STYLING ////////////// */

.programsSection {
  background-color: #ededed;
}

.programTitle {
  padding: 50px;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
}

.programs {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.programs a {
  text-decoration: none;
}

.program {
  /* padding: 7em 3em; */
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.program:hover {
  transform: scale(1.3);
}

.programs .hockey {
  background: url("../Assets/Hockey-Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.programs .hockey p {
  color: white;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: "Luckiest Guy", cursive;
}

.programs .summer {
  background: url("../Assets/Summer-Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.programs .summer p {
  color: white;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: "Luckiest Guy", cursive;
}

.programs .other {
  background: url("../Assets/Other-Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.programs .other p {
  color: white;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: "Luckiest Guy", cursive;
}

/* /////////////ABOUT US///////////// */

.aboutTitle {
  color: #ee4e34;
}

.aboutContainer {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  gap: 50px;
}

.aboutImage {
  display: flex;
  align-items: center;
}

.aboutContainer p {
  font-family: "Aleo", serif;
}

.aboutImage img {
  border-radius: 10px;
  box-shadow: 20px 20px 0px 2px #ee4e34;
}

/* ///////////////CONTACT US//////////// */
.contactusContainer {
  background-color: #ededed;
  padding-bottom: 100px;
  margin: 100px 0 0 0;
}

.contactInformationSection {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  gap: 50px;
}

.contactImage img {
  border-radius: 10px;
  box-shadow: -20px 20px 0px 2px #ee4e34;
}

.FooterImage {
  height: 30vh;
  background: url("../Assets/backgroundImage1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
